@use "@silvermine/videojs-airplay/src/scss/videojs-airplay.scss" with (
  $icon-airplay--default: '@silvermine/videojs-airplay/src/images/ic_airplay_white_24px.svg',
  $icon-airplay--hover: '@silvermine/videojs-airplay/src/images/ic_airplay_white_24px.svg',
  $airplay-icon-size: 22px
);

@use '@silvermine/videojs-chromecast/src/scss/videojs-chromecast.scss' with (
  $icon-chromecast--default: '@silvermine/videojs-chromecast/src/images/ic_cast_white_24dp.png',
  $icon-chromecast--hover: '@silvermine/videojs-chromecast/src/images/ic_cast_white_24dp.png',
  $chromecast-icon-size: 22px,
  $icon-chromecast-casting: '@silvermine/videojs-chromecast/src/images/ic_cast_connected_white_24dp.png',
  $icon-chromecast-casting--hover: '@silvermine/videojs-chromecast/src/images/ic_cast_connected_white_24dp.png'
);

.video-js .vjs-control-bar .vjs-airplay-button,
.video-js .vjs-control-bar .vjs-chromecast-button {
  width: 47px;
}

.video-js .vjs-control-bar .vjs-airplay-button .vjs-icon-placeholder,
.video-js .vjs-control-bar .vjs-chromecast-button .vjs-icon-placeholder {
  display: inline-block;
}
